<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ='stylesheet' href="../Accounts/bootstrap.css">
    <link rel="stylesheet" href="../Accounts/stylesheet.css">
</head>
<body>
<!-- Start signup-->
<hr>
<div class="row ">
<div class="col-md-5 mb-3 mt-3 ms-2 btn">
<div class="container ">
    <!---->
    <div class="col "><h2> Sign Up </h2></div>
    <form action="xxxx.py" method="Post">
    <div class="col">
         <label for="">First Name</label>
        <div class="input">
         <input type="text"  required placeholder=" Write your First Name" name="userName"></div></div>
        <br>
       <div class="col">
        <label for="">Last Name</label>
       <div class="input"> <input type="text"  required placeholder=" Write your Second Name" name="userName"></div></div>
        <br>
        <div class="col"> <label for='' >Email </label>
          <div class="input">
        <input type="email"  required placeholder="...........@gmail" name="email"></div></div>
        <br>
       <div class="col"> <label for=''>Password</label> 
        <div class="input"><input type="password"   required placeholder="Write a complex password " name="password"></div></div>
        <br>
        <div class="col"> <label for=''>Confirm Password</label> 
          <div class="input">  <input type="password"  required placeholder="Confirm password " name="Confirm password"></div></div>
  <br>

       <div class="col"> <input type="submit" value="Submit"></div>
        <br>
    <div class="login"><a href="#..."> Login </a></div>
    </form>
</div>
</div>
<!--end sign up-->
<!--Start login -->
<div class="col-md-5 mb-3 mt-5">
<div class="container2 ">
  <div class="col mt-3"> <h2> Login </h2></div> 
    <form action="xxxx.py" method="Post">
        <div class="col">
            <label for="">Name</label>
            <div class="input">
            <input type="text"  required placeholder=" Write your Name" name="userName"></div></div>
            <br>
        <div class="col"> <label for='' > Email  </label>
            <div class="input">
            <input type="email"  required placeholder=".....@gmail" name="email"></div></div>
            <br>
            <div class="name">
        <div class="col"> <label for=''>Password</label> 
          <div class="input"> 
          <input type="password"  required placeholder="Password " name="Confirm password"></div></div>
        <br>
       <div class="col"> <input type="submit" value="Login "></div>
        <br>
    </form>
</div>
</div>
</div>

<hr>
<!--end login -30711290203013-->

</body>
</html>
</body>
</html>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="SignInForm.js"></script>

</body>
</html>